@using JNCC.PublicWebsite.Core.ViewModels
@model IScienceIFrameImageRichTextSectionViewModel

<div class="row collapse">
    @if (string.Equals(Model.ImagePosition, "Top", StringComparison.OrdinalIgnoreCase))
    {

        <div class="columns small-12">
            <div class="row collapse display-end">
                <div class="columns small-12">
                    <p>
                        <img src="@Model.Image.Url" alt="@Model.Image.AlternativeText" title="@Model.Image.TitleText" />
                    </p>
                </div>
            </div>
            <div class="row collapse">
                <div class="columns small-12">
                    @Html.Raw(Model.Content)
                </div>
            </div>
        </div>
    }

    else if (string.Equals(Model.ImagePosition, "Right", StringComparison.OrdinalIgnoreCase))
    {
        <div class="columns small-12 medium-6 small-order-2 medium-order-1 right-pad">
            @Html.Raw(Model.Content)
        </div>
        <div class="columns small-12 medium-6 small-order-1 medium-order-2">
            <p>
                <img src="@Model.Image.Url" alt="@Model.Image.AlternativeText" title="@Model.Image.TitleText" />
            </p>
        </div>
    }
    else
    {
        <div class="columns small-12 medium-6 small-order-1 medium-order-1">
            <p>
                <img src="@Model.Image.Url" alt="@Model.Image.AlternativeText" title="@Model.Image.TitleText" />
            </p>
        </div>
        <div class="columns small-12 medium-6 small-order-2 medium-order-2 left-pad">
            @Html.Raw(Model.Content)
        </div>
    }

</div>
