@model JNCC.PublicWebsite.Core.ViewModels.PageHeroViewModel
@if (Model == null) { return; }
@if (Model.ImageUrl != null)
{
    <div class="visual-section" style="background-image: url(@Model.ImageUrl);">
        <div class="container">
            <h1>@Model.Headline</h1>
            @if (Model.ShowResourceSearch)
            {
                await RenderForm();
            }
        </div>
        @if (!Model.ImageCopyrightText.IsNullOrWhiteSpace())
        {
            <div class="copyright-statement">
                <div class="text-left">
                    @Model.ImageCopyrightText
                </div>
            </div>
        }
    </div>
}
else
{
    <div class="visual-section">
        <div class="container">
            <h1>@Model.Headline</h1>
        </div>
        @if (Model.ShowResourceSearch)
        {
            await RenderForm();
        }
        @if (!Model.ImageCopyrightText.IsNullOrWhiteSpace())
        {
            <div class="copyright-statement">
                <div class="text-left">
                    @Model.ImageCopyrightText
                </div>
            </div>
        }
    </div>
}
@functions {
    public async Task RenderForm()
    {
        <form action="https://search.jncc.gov.uk/" method="get" role="search" class="search-form input-group" style="position: static; max-width:100%" data-animate="hinge-in-from-top spin-out">
            <label for="datahub-search-field" class="show-for-sr" accesskey="4">Search the Resource hub:</label>
            <input autofocus type="search" placeholder="Search the JNCC Resource hub" class="input-group-field" id="datahub-search-field" name="q">
            <input type="hidden" name="v" value="resources">
            <input type="hidden" name="s" value="relevance">
            <button class="input-group-button" aria-label="search-button"><i class="icon-search"></i></button>
        </form>
    }
}