@using JNCC.PublicWebsite.Core.ViewModels
@model ScienceSidebarViewModel
@if (Model.HasPrimaryCallToActionButton == false
    && Model.HasCategories == false
    && Model.HasSeeAlsoLinks == false)
{
    return;
}
<aside id="sidebar">
    @if (Model.HasPrimaryCallToActionButton)
    {
        <a href="@Model.PrimaryCallToActionButton.Url" class="button large medium-expanded" target="@Model.PrimaryCallToActionButton.Target">@Model.PrimaryCallToActionButton.Text</a>
    }
    @if (Model.HasCategories)
    {
        foreach (var category in Model.Categories)
		{
			<nav class="holder" aria-label="aside-navigation">
				@if (Model.CurrentPageContentTypeAlias != JNCC.PublicWebsite.Core.Models.ScienceCategoryPage.ModelTypeAlias)
				{
					<span>
						This page is in the category:
					</span>
                }
				<h2><a href="@category.Url">@category.Text</a></h2>
				
				@if (category.HasChildren)
		        {
			        <span>
                        Pages in @category.Text:
			        </span>
			        <ul class="aside-nav no-bullet">
				        @foreach (var link in category.Children)
				        {
					        if (link.Url.Equals(Model.CurrentPageUrl))
					        {
						        <li><a href="@link.Url" class="active">@link.Text</a></li>
					        }
					        else
					        {
						        <li><a href="@link.Url">@link.Text</a></li>
					        }
				        }
			        </ul>
		        }
	        </nav>
        }
    }

    
    @if (Model.RelatedCategories != null && Model.RelatedCategories.Any())
    {
	    <nav class="holder" aria-label="aside-navigation">
		    <span>Related categories:</span>
		    <ul class="aside-nav no-bullet">
			    @foreach (var link in Model.RelatedCategories)
			    {
				    <li><a href="@link.Url">@link.Text</a></li>
			    }
		    </ul>
	    </nav>
    }

    @if (Model.OtherWebsitesLinks != null && Model.OtherWebsitesLinks.Any())
    {
	    <nav class="holder" aria-label="aside-navigation">
		    <span>Other websites:</span>
		    <ul class="aside-nav no-bullet">
			    @foreach (var link in Model.OtherWebsitesLinks)
			    {
				    <li><a href="@link.Url" target="@link.Target">@link.Text</a></li>
			    }
		    </ul>
	    </nav>
    }

	@if (Model.ElsewhereOnOurWebsiteLinks?.Any() == true)
	{
		<nav class="holder" aria-label="aside-navigation">
			<span>Elsewhere on our website:</span>
			<ul class="aside-nav no-bullet">
				@foreach (var link in Model.ElsewhereOnOurWebsiteLinks)
				{
					<li><a href="@link.Url" target="@link.Target">@link.Text</a></li>
				}
			</ul>
		</nav>
	}

   @if (Model.HasSeeAlsoLinks)
    {
        <nav class="holder" aria-label="aside-navigation">
            <span>See also:</span>
            <ul class="aside-nav no-bullet">
                @foreach (var link in Model.SeeAlsoLinks)
                {
                    <li><a href="@link.Url" target="@link.Target">@link.Text</a></li>
                }
            </ul>
        </nav>
    }
</aside>