@using JNCC.PublicWebsite.Core.ViewModels
@model ScienceSidebarViewModel
@if (Model.HasPrimaryCallToActionButton == false
    && Model.HasCategories == false
    && Model.HasDataHubLinks == false
    && Model.HasSeeAlsoLinks == false)
{
    return;
}
<aside id="sidebar">
    @if (Model.HasPrimaryCallToActionButton)
    {
        <a href="@Model.PrimaryCallToActionButton.Url" class="button primary large medium-expanded" target="@Model.PrimaryCallToActionButton.Target">@Model.PrimaryCallToActionButton.Text</a>
    }
    @if (Model.HasCategories)
    {
        foreach (var category in Model.Categories)
        {
            <nav class="holder" aria-label="aside-navigation">
                <h2><a href="@category.Url">@category.Text</a></h2>
                @if (category.HasChildren)
                {
                    <ul class="aside-nav no-bullet">
                        @foreach (var link in category.Children)
                        {
                            if (link.Url.Equals(Model.CurrentPageUrl))
                            {
                                <li><a href="@link.Url" class="active">@link.Text</a></li>
                            }
                            else
                            {
                                <li><a href="@link.Url">@link.Text</a></li>
                            }
                        }
                    </ul>
                }
            </nav>
        }
    }

    @if (Model.HasDataHubLinks)
    {
        <nav class="holder" aria-label="aside-navigation">
            <h2>Data Hub Links</h2>
            <ul class="aside-nav no-bullet">
                @foreach (var link in Model.DataHubLinks)
                {
                    <li><a href="@link.Url" target="@link.Target">@link.Text</a></li>
                }
            </ul>
        </nav>
    }

    @if (Model.HasSeeAlsoLinks)
    {
        <nav class="holder" aria-label="aside-navigation">
            <h2>See also</h2>
            <ul class="aside-nav no-bullet">
                @foreach (var link in Model.SeeAlsoLinks)
                {
                    <li><a href="@link.Url" target="@link.Target">@link.Text</a></li>
                }
            </ul>
        </nav>
    }
</aside>