@using JNCC.PublicWebsite.Core.ViewModels
@model FeaturedResourcesViewModel
<div class="exemplar-list-header">
    <h2>@Model.Title</h2>
    <div class="row grid-x grid-margin-x space-below">
        <div class="cell small-12 medium-6">
            @foreach (var resource in Model.FeaturedResources.Take(Model.ItemsPerColumn))
            {
                <div class="exemplar">
                    <h2>@resource.Headline</h2>
                    @Html.Raw(resource.Content)
                    @if (resource.ReadMoreButton != null)
                    {
                        <a href="@resource.ReadMoreButton.Url" class="button expanded">@resource.ReadMoreButton.Text</a>
                    }
                </div>
            }
        </div>

        <div class="cell small-12 medium-6">
            @foreach (var resource in Model.FeaturedResources.Skip(Model.ItemsPerColumn))
            {
                <div class="exemplar">
                    <h2>@resource.Headline</h2>
                    @Html.Raw(resource.Content)
                    @if (resource.ReadMoreButton != null)
                    {
                        <a href="@resource.ReadMoreButton.Url" class="button expanded">@resource.ReadMoreButton.Text</a>
                    }
                </div>
            }
        </div>
    </div>
</div>