@using JNCC.PublicWebsite.Core.ViewModels
@model FeaturedResourcesViewModel
<div class="exemplar-list-header">
    <h2>@Model.Title</h2>
    <div class="row grid-x grid-margin-x space-below">
            @foreach (var resource in Model.FeaturedResources.Take(Model.ItemsPerColumn))
            {
                    <div class="cell small-12 medium-6">
                        <div class="card">
                            <div class="card-section">
                                <h2>
                                    <a href="@resource.ReadMoreButton.Url">
                                        @resource.Headline
                                    </a>
                                </h2>
                                @Html.Raw(resource.Content)
                            </div>
                        </div>
                    </div>
            }

            @foreach (var resource in Model.FeaturedResources.Skip(Model.ItemsPerColumn))
            {
                    <div class="cell small-12 medium-6">
                        <div class="card">
                            <div class="card-section">
                                <h2>
                                    <a href="@resource.ReadMoreButton.Url">
                                        @resource.Headline
                                    </a>
                                </h2>
                                @Html.Raw(resource.Content)
                            </div>
                        </div>
                    </div>
            }
    </div>
</div>