@using JNCC.PublicWebsite.Core.Constants
@using JNCC.PublicWebsite.Core.ViewModels
@model NewsAndInsightsLandingFilteringViewModel
<aside id="sidebar">
    <form action="#" role="search" class="search-form input-group">
        <label for="sidebar-search-field">
            <input type="search" placeholder="Search" class="input-group-field" id="sidebar-search-field" aria-label="Sidebar Search" name="@FilterNames.SearchTerm" value="@Model.SearchTerm">
        </label>
        <button class="input-group-button" aria-label="sidebar-search-button"><i class="icon-search"></i></button>
    </form>
    <form action="#" class="staff-checkbox-form">
        @(await Html.PartialAsync("~/Views/Partials/NewsAndInsightsLanding/FilteringGroup.cshtml", Model.ArticleTypes))
        @(await Html.PartialAsync("~/Views/Partials/NewsAndInsightsLanding/FilteringGroup.cshtml", Model.Years))
        @(await Html.PartialAsync("~/Views/Partials/NewsAndInsightsLanding/FilteringGroup.cshtml", Model.Themes))
    </form>
</aside>