@using JNCC.PublicWebsite.Core.ViewModels
@using JNCC.PublicWebsite.Core.Extensions 
@model NewsAndInsightsLandingListingViewModel
<div class="filtration-section">
    <div class="loader">Loading...</div>
    <div class="filtration-items-holder">
        <div class="row">
            @if (Model?.Items?.Items?.Any() ?? false)
            {
                foreach (var article in Model.Items.Items)
                {
                    <div class="columns medium-6 large-4 js-listing-item">
                        <a href="@article.Url" class="card">
                            @if (string.IsNullOrWhiteSpace(article.ImageUrl) == false)
                            {
                                <div class="img-holder">
                                    <img src="@article.ImageUrl" alt="@article.ImageAltText" title="@article.ImageTitleText">
                                </div>
                            }
                            <div class="card-section">
                                <h3>@article.Title</h3>
                                <span class="subtitle">@Html.DisplayFor(model => article.PublishDate)</span>
                                <div class="text">
                                    @Html.Raw(article.Description)
                                </div>
                            </div>
                        </a>
                    </div>
                }
            }
        </div>
    </div>
    <div class="filtration-buttons-holder">
        @if (Model.Items.IsPageNumberGreaterThanFirst())
        {
            <a href="@Url.PaginationQueryString(Model.Items.PreviousPageNumber(), Model.Filters)" class="button prev">Previous</a>
        }
        @if (Model.Items.IsPageNumberLessThanLast())
        {
            <a href="@Url.PaginationQueryString(Model.Items.NextPageNumber(), Model.Filters)" class="button next">Next</a>
        }
    </div>
</div>