@using JNCC.PublicWebsite.Core.Models
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<BizDevServicePage>
@{
    Layout = "Master.cshtml";
}
<main id="main">
    @(await Component.InvokeAsync("PageHero", new { model = Model }))
    <div class="container">
        @(await Component.InvokeAsync("Breadcrumbs", new { model = Model }))
        <div class="two-columns">
            <div id="content">
                @(await Component.InvokeAsync("NoPageHeroHeadline", new { model = Model }))
                @(await Html.PartialAsync("~/Views/Partials/PageAlert.cshtml", Model.PageSpecificAlertContent))
                @Html.Raw(Model.Preamble)

                @if (Model.MainContent != null && Model.MainContent.Any())
                {
                    <div class="articles-list no-bullet">
                        @foreach (var item in Model.MainContent)
                        {
	                        switch (item.Content)
	                        {
		                        case ContentItemSchema contentItemSchema:
			                        @await Html.PartialAsync("~/Views/Partials/Shared/ContentItemSchema.cshtml", contentItemSchema)
			                        break;
		                        case ContentVideoSchema contentVideoSchema: 
			                        @(await Html.PartialAsync("~/Views/Partials/Shared/ContentVideoSchema.cshtml", contentVideoSchema))
			                        break;
	                        }
                        }
                    </div>
                }

                @(await Component.InvokeAsync("PageMetaInformation", new { model = Model }))
            </div>
            @(await Component.InvokeAsync("Sidebar", new { model = Model }))
        </div>
    </div>
    @(await Component.InvokeAsync("GetInTouch", new { model = Model }))
    @(await Component.InvokeAsync("RelatedItems", new { model = Model }))
</main>
