@using JNCC.PublicWebsite.Core.Models
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<HomePage>
@{
    Layout = "Master.cshtml";
}
<main id="main" class="home-a landing-page">
	@(await Component.InvokeAsync("Carousel", new { model = Model }))
	<div class="container">
		<div class="preamble">
			@Html.Raw(Model.Preamble)
		</div>
	</div>
    @(await Component.InvokeAsync("CalloutCards", new { model = Model }))
    @(await Component.InvokeAsync("Resources", new { model = Model }))
    @(await Component.InvokeAsync("LatestNewsAndSocialFeed", new { model = Model }))
</main>