@using JNCC.PublicWebsite.Core.Models
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<InternalTextPage>
@{
    Layout = "Master.cshtml";
}
<main id="main">
    @(await Component.InvokeAsync("PageHero", new { model = Model }))
    <div class="container">
        @(await Component.InvokeAsync("Breadcrumbs", new { model = Model }))
        <div class="two-columns">
            <div id="content">
                @(await Component.InvokeAsync("NoPageHeroHeadline", new { model = Model }))
                @(await Html.PartialAsync("~/Views/Partials/PageAlert.cshtml", Model.PageSpecificAlertContent))
                @Html.Raw(Model.MainContent)
                @(await Component.InvokeAsync("PageMetaInformation", new { model = Model }))
            </div>
            @(await Component.InvokeAsync("Sidebar", new { model = Model }))
        </div>
    </div>
    @(await Component.InvokeAsync("GetInTouch", new { model = Model }))
    @(await Component.InvokeAsync("RelatedItems", new { model = Model }))
</main>