@using JNCC.PublicWebsite.Core.Models
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<NewsAndInsightsLandingPage>
@{
    Layout = "Master.cshtml";
}

<main id="main">
    @(await Component.InvokeAsync("PageHero", new { model = Model }))
    <div class="container">
        @(await Component.InvokeAsync("Breadcrumbs", new { model = Model }))
        <div class="two-columns stretch-layout staff-directory columns-reverse-layout filter-section">
            @(await Component.InvokeAsync("Filtering", new { model = Model }))
            <div id="content">
                <section class="staff-holder">
                    @(await Component.InvokeAsync("NoPageHeroHeadline", new { model = Model }))
                    @(await Html.PartialAsync("~/Views/Partials/PageAlert.cshtml", Model.PageSpecificAlertContent))
                    <div class="text-block">@Html.Raw(Model.Preamble)</div>
                    @(await Component.InvokeAsync("Listing", new { model = Model }))
                </section>
            </div>
        </div>
    </div>
</main>