@using JNCC.PublicWebsite.Core.Utilities;
@using JNCC.PublicWebsite.Core.Extensions;
@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.Custom.VirtualResourceModel>
@using ContentModels = JNCC.PublicWebsite.Core.Models;
@{
    Layout = "Master.cshtml";
}
<main id="main">
    <div class="container">
        @(await Component.InvokeAsync("Breadcrumbs", new { model = Model }))
        <div class="two-columns">
            <div id="content">
                <div class="grid-x grid-margin-x">
                    <div class="cell medium-expand small-order-1 medium-order-2">

                        <!-- Title -->
                        <h1 style="margin-bottom: 1rem;">
                            <span class="spot-colour" style="margin-right:0.3rem;">
                                <i class="fas @AssetUtility.GetIconName(Model.ResourceToDisplay.MetaData.ResourceType)"
                                   data-toggle="tooltip" title="@Model.ResourceToDisplay.MetaData.ResourceType"></i>
                            </span>
                            <span style="margin-right: 0.1em;">@Model.ResourceToDisplay.MetaData.Title</span>
                            <span class="text-small text-muted">@Model.ResourceToDisplay.MetaData.DatasetReferenceDate?.Year</span>
                        </h1>
                        
                        <div class="module">
                            <p id="abstract">
                                <span class="text-label">Abstract</span> @AssetUtility.GetFormattedMarkdown(Model.ResourceToDisplay.MetaData.Abstract)
                            </p>
                        </div>
                    </div>
                </div> <!-- grid -->
                <!-- tabs -->
                <div class="grid-x grid-margin-x">
                    <div class="cell large-6 large-order-2">
                        <ul class="tabs" data-tabs id="resource-tabs">
                            <li class="tabs-title is-active">
                                <a href="#resource-list" aria-selected="true">
                                    <i class="fas fa-cloud-download-alt"></i>
                                    <span class="space-after">Resources</span> <span class="round-badge">@(Model.ResourceToDisplay.Data.Count(d => d.Http != null))</span>
                                </a>
                            </li>
                        </ul>
                        <div class="tabs-content space-below" data-tabs-content="resource-tabs">
                            <div class="tabs-panel is-active" id="resource-list">
                                <ul>
                                    @foreach (var d in Model.ResourceToDisplay.Data)
                                    {
                                        if (@d.Http != null)
                                        {
                                            <li class="pb-2" id="@AssetUtility.GetFileNameForDisplay(d.Http.Url)">
                                                <div class="grid-x embedded-grid">
                                                    <div class="cell small-11">
                                                        <div class="highlightable">
                                                            <span>
                                                                <a href="@AssetUtility.EnsureHttpsLinksForDataDotJncc(d.Http.Url)"
                                                           class="space-after"
                                                           data-event="@(!String.IsNullOrWhiteSpace(d.Http.FileExtension) ? "download" : "external")"
                                                           data-size="@(d.Http.FileBytes)"
                                                           target="_blank">@(d.Title)</a>
                                                                @if (!String.IsNullOrWhiteSpace(d.Http.FileExtension))
                                                                {
                                                                    <span class="square-badge">@d.Http.FileExtension.ToUpper()</span>
                                                                }
                                                                else
                                                                {
                                                                    <span class="square-badge" title="External link" data-toggle="tooltip">
                                                                        <span class="fas fa-external-link-alt"></span>
                                                                    </span>
                                                                }
                                                            </span>
                                                            <br />
                                                            <span class="text-small">
                                                                @if (!String.IsNullOrWhiteSpace(d.Http.FileExtension))
                                                                {
                                                                    <span style="word-spacing:-0.3em; margin-right:0.6em">
                                                                        @ByteHelpers.FormatBytesForDisplay(d.Http.FileBytes)
                                                                    </span>
                                                                    <span style="overflow-wrap: break-word;" class="text-muted">
                                                                        @AssetUtility.GetFileNameForDisplay(d.Http.Url)
                                                                    </span>
                                                                }
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <div class="cell small-1">
                                                        <div class="highlight-bar" />
                                                    </div>
                                                </div>
                                            </li>
                                        }
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="cell large-6 large-order-1">
                        <ul class="tabs" data-tabs id="detail-tabs">
                            <li class="tabs-title is-active">
                                <a href="#main-detail" aria-selected="true">
                                    <i class="fas fa-asterisk"></i> Detail
                                </a>
                            </li>
                            <li class="tabs-title">
                                <a data-tabs-target="usage-detail" href="#usage-detail">
                                    <i class="fas fa-utensils"></i> Usage
                                </a>
                            </li>
                            <li class="tabs-title">
                                <a data-tabs-target="meta-detail" href="#meta-detail">
                                    <i class="fas fa-cog"></i> Meta
                                </a>
                            </li>
                            <li class="tabs-title">
                                <a data-tabs-target="extent-detail" href="#extent-detail">
                                    <i class="fas fa-map-marker-alt"></i> Extent
                                </a>
                            </li>
                        </ul>
                        <div class="tabs-content space-below" data-tabs-content="detail-tabs">
                            <div class="tabs-panel is-active" id="main-detail">
                                <p>
                                    <span class="text-label">Resource type</span>
                                    @Model.ResourceToDisplay.MetaData.ResourceType.FirstCharToUpper()
                                </p>
                                <p>
                                    <span class="text-label">Topic category</span>
                                    @Model.ResourceToDisplay.MetaData.TopicCategory.FirstCharToUpper()
                                </p>
                                <p>
                                    <span class="text-label">Reference date</span>
                                    <span title="Dataset Reference Date" data-toggle="tooltip" data-placement="top">
                                        @if (Model.ResourceToDisplay.MetaData.DatasetReferenceDate != null)
                                        {
                                            <span>@Model.ResourceToDisplay.MetaData.DatasetReferenceDate?.ToString("yyyy")</span>
                                            <span class="text-muted">·</span>
                                            <span>@Model.ResourceToDisplay.MetaData.DatasetReferenceDate?.ToString("MM")</span>
                                            <span class="text-muted">·</span>
                                            <span>@Model.ResourceToDisplay.MetaData.DatasetReferenceDate?.ToString("dd")</span>
                                        }
                                    </span>
                                </p>
                                @if (!string.IsNullOrWhiteSpace(Model.ResourceToDisplay.DigitalObjectIdentifier))
                                {
                                    <p>
                                        <span class="text-label">DOI</span>
                                        <span title="Digital Object Identifier" data-toggle="tooltip" data-placement="top">
                                            @Model.ResourceToDisplay.DigitalObjectIdentifier
                                        </span>
                                    </p>
                                }
                                @if (!string.IsNullOrWhiteSpace(Model.ResourceToDisplay.Citation))
                                {
                                    <p>
                                        <span class="text-label">Citation</span>
                                        <br />
                                        @Model.ResourceToDisplay.Citation
                                    </p>
                                }
                                @if (!string.IsNullOrWhiteSpace(Model.ResourceToDisplay.MetaData.Lineage))
                                {
                                    <p>
                                        <span class="text-label">Lineage</span>
                                        <br />
                                        @Model.ResourceToDisplay.MetaData.Lineage
                                    </p>
                                }
                                @if (!string.IsNullOrWhiteSpace(Model.ResourceToDisplay.MetaData.AdditionalInformationSource))
                                {
                                    <p>
                                        <span class="text-label">Additional information source</span>
                                        <br />
                                        @Model.ResourceToDisplay.MetaData.AdditionalInformationSource
                                    </p>
                                }
                            </div>
                            <div class="tabs-panel" id="usage-detail">
                                <p>
                                    <span class="text-label">Responsible organisation</span>
                                    <br />
                                    <span class="space-after">@(Model.ResourceToDisplay.MetaData.ResponsibleOrganisation.Name)</span>
                                    <span class="square-badge">@Model.ResourceToDisplay.MetaData.ResponsibleOrganisation.Role</span>
                                    <br />
                                    <i class="fas fa-envelope email-address-icon"></i>
                                    <span class="email-address">@Model.ResourceToDisplay.MetaData.ResponsibleOrganisation.Email</span>
                                </p>

                                <p>
                                    <span class="text-label">Limitations on public access</span>
                                    @(Model.ResourceToDisplay.MetaData.LimitationsOnPublicAccess == "no limitations"
                                        ? "No limitations"
                                        : @Model.ResourceToDisplay.MetaData.LimitationsOnPublicAccess)
                                </p>
                                <p>
                                    <span class="text-label">Use constraints</span>
                                    <span class="">@Model.ResourceToDisplay.MetaData.UseConstraints</span>
                                </p>
                            </div>
                            <div class="tabs-panel" id="meta-detail">
                                <p>
                                    <span class="text-label">Metadata date</span>
                                    <span title="@Model.ResourceToDisplay.MetaData" data-toggle="tooltip">
                                        @if (Model.ResourceToDisplay.MetaData.MetaDataDate != null)
                                        {
                                            <span>@Model.ResourceToDisplay.MetaData.MetaDataDate?.ToString("yyyy")</span>
                                            <span class="text-muted">·</span>
                                            <span>@Model.ResourceToDisplay.MetaData.MetaDataDate?.ToString("MM")</span>
                                            <span class="text-muted">·</span>
                                            <span>@Model.ResourceToDisplay.MetaData.MetaDataDate?.ToString("dd")</span>
                                        }
                                    </span>
                                </p>
                                <p>
                                    <span class="text-label">Metadata point of contact</span>
                                    <br />
                                    <span class="">@Model.ResourceToDisplay.MetaData.MetadataPointOfContact.Name</span>
                                    <br />
                                    <i class="fas fa-envelope email-address-icon"></i>
                                    <span class="email-address">@Model.ResourceToDisplay.MetaData.MetadataPointOfContact.Email</span>
                                </p>
                            </div>
                            <div class="tabs-panel" id="extent-detail">
                                @{
                                    var begin = Model.ResourceToDisplay.MetaData.TemporalExtent?.Begin;
                                    var end = Model.ResourceToDisplay.MetaData.TemporalExtent?.End;
                                }
                                @if (begin != null && Model.ResourceToDisplay.MetaData.BoundingBox == null)
                                {
                                    <p>This asset has no extent information. @begin</p>
                                }
                                @if (begin != null || end != null)
                                {
                                    <p>
                                        <span class="text-label">Temporal extent</span>
                                        <span data-toggle="tooltip" title="@begin" class="space-after">
                                            <span>@begin?.ToString("yyyy")</span>
                                            <span class="text-muted">·</span>
                                            <span>@begin?.ToString("MM")</span>
                                            <span class="text-muted">·</span>
                                            <span>@begin?.ToString("dd")</span>
                                        </span>
                                        <i class="fas fa-long-arrow-alt-right space-after"></i>
                                        <span data-toggle="tooltip" title="@end">
                                            <span>@end?.ToString("yyyy")</span>
                                            <span class="text-muted">·</span>
                                            <span>@end?.ToString("MM")</span>
                                            <span class="text-muted">·</span>
                                            <span>@end?.ToString("dd")</span>
                                        </span>
                                    </p>
                                }
                                @if (Model.ResourceToDisplay.MetaData.BoundingBox != null && Model.ResourceToDisplay.MetaData.BoundingBox.North != 0M)
                                {
                                    <table>
                                        <tr>
                                            <th colspan="2">
                                                Spatial extent
                                            </th>
                                        </tr>
                                        <tr>
                                            <td>North</td>
                                            <td>@Model.ResourceToDisplay.MetaData.BoundingBox.North</td>
                                        </tr>
                                        <tr>
                                            <td>South</td>
                                            <td>@Model.ResourceToDisplay.MetaData.BoundingBox.South</td>
                                        </tr>
                                        <tr>
                                            <td>East</td>
                                            <td>@Model.ResourceToDisplay.MetaData.BoundingBox.East</td>
                                        </tr>
                                        <tr>
                                            <td>West</td>
                                            <td>@Model.ResourceToDisplay.MetaData.BoundingBox.West</td>
                                        </tr>
                                    </table>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<script>
    $(function () {
        new Readmore('#abstract', {
            moreLink: '<a href="#" class="text-right">Read more</a>',
            lessLink: '<a href="#" class="text-right">Read less</a>'
        });
    })
</script>

<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js" integrity="sha384-JPbtLYL10d/Z1crlc6GGGGM3PavCzzoUJ1UxH0bXHOfguWHQ6XAWrIzW+MBGGXe5" crossorigin="anonymous"></script>
<script>
    $(document).ready(function () {
        @* handle scrolling in an over the top way because it doesn't behave in small Firefox viewports *@
        $('html, body').hide();
        if (window.location.hash) {
            $('<div><a href="#header">Back to top</a></div>').insertAfter('#resource-list');
            $('html, body').scrollTop(0).show();
            setTimeout(function () {
                var targetId = window.location.hash.replace(/\./g, '\\.');

                $('html, body').animate({
                    scrollTop: $(targetId).offset().top
                });
                setTimeout(function () {
                    $(targetId).addClass('highlighted');
                    $(targetId).find('.highlightable').effect('highlight', { color: '#FFFF99' }, 3000);
                }, 500);

            }, 10);
        } else {
            $('html, body').show();
        }
    });
</script>