@using JNCC.PublicWebsite.Core.ViewModels;
@model IEnumerable<ScienceDetailsSectionViewModel>

@foreach (var section in Model)
{
    @if (!section.HideHeadline)
    {
        <h2 id="@(section.HtmlId)">@(section.Headline)</h2>
    }

    @(await Html.PartialAsync(string.Format("~/Views/Partials/ScienceDetails/{0}.cshtml", section.PartialViewName), section))

    @if (section.SubSections.Any())
    {
        foreach (var subSection in section.SubSections)
        {
            if (!subSection.HideHeadline)
            {
                <h3 id="@(subSection.HtmlId)">@(subSection.Headline)</h3>
            }

            @(await Html.PartialAsync(string.Format("~/Views/Partials/ScienceDetails/{0}.cshtml", subSection.PartialViewName), subSection))
        }

        if (!section.HideHeadline)
        {
            <p class="text-right"><a href = "#toc" class="return-to-top">Top<i class="step fi-arrow-up"></i></a></p>
        }
    }
}